<nav class="navbar navbar-expand-sm bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="https://php.net" target="_blank" title="Официальный сайт PHP">PHP</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" href="/mathFunc">Математические функции</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/strFunc">Строковые функции</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/arrFunc">Функции массива</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/timeFunc">Функции времени</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/practice">Практика</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/function">функции</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/varlink">Ссылки переменных</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/recurs">Рекурсия</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/regular">Регулярные выражения</a>
				</li> -->
				<li class="nav-item">
					<a class="nav-link" href="/inc_var_in_str">Формирование строк</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/fform">Основыы работы с формами</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/get_rec">GET запросы в PHP</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/get_rec_pract">Практика на формы</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/session1">Сессии в PHP</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/coockies1">coockies</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/file1">Работа с файлами в PHP</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/mysql1">Работа с MySQL</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/db_org">Организация Базы данных</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/db_pract">Практика Базы данных</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/http_prot1">Протокол HTTP</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/redirect1">Редирект</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/auth">Аутентификация</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/authSave">безопасность хранения пароля</a>
				</li>
				
			</ul>
			<!-- <form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form> -->
		</div>
	</div>
</nav>